<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Archive</h1>
        <div class="list-group">
            {% for task in archived_tasks %}
                <div class="list-group-item">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.name }}</h5>
                            <p class="card-text">Description: {{ task.description }}</p> <!-- Отображение описания -->
                            <p class="card-text">Assigned to: 
                                {% for user in task.assigned_users %}
                                    {{ user.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-warning">Edit</a>
                            <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Back to Kanban Board</a>
    </div>
</body>
</html>